footer{
    background: rgb(23, 26, 39);
    height: 200px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#iconFooter{
        transition: all 0.3s;
        font-size: 50px;
      
}

#iconFooter:hover{
        cursor: pointer;
        transform: scale(1.4);
    
}