.BackgroundModal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.657);
    height: 100vh;
    width: 100vw;
        z-index: 1500;
                animation: opacity 0.4s;
}

.Modal{
    position: fixed;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2000;
        height: 720px;
        width: 850px;
        border-radius: 20px;
    background: rgb(18, 21, 33);
            overflow-y: hidden;
        padding: 10px;
                animation: startModal 0.3s;

}

.Modal img{
    width: 250px;
margin-bottom: 50px;
}

.Modal p {
    font-size: 1.3em;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
}

@keyframes startModal {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
}

.Regions{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}
.animate{
    position: relative;
    opacity: 0;
    
}

.Regions h5{
    margin-left: 6px;
    margin-right: 6px;
}

@media (max-width:650px) {
   
 .Modal {
     width: 100vw;
     height: 600px;
     overflow-y: scroll;
     z-index: 2001;

 }
    .Modal .Buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Modal .Buttons .ModalCloseButton {
        margin: 10px;
    }
}