.title{
    font-size: 3em;
    opacity: 0;
    position: relative;
    top: -100px;
}
.Agents{
    display: flex;
    flex-wrap: wrap;
    background: rgb(18, 21, 33);
    min-height: 900px;
}

.Agent{
 
    width: 33.33%;
    height: 100%;
   opacity: 0;
    box-sizing: border-box;
    background: rgb(18, 21, 33);
    position: relative;
    top:-100px;
    
}

.Agent:hover{
    cursor: pointer;
    background:rgba(255, 255, 255, 0.05) ;
    border-radius: 20px;
}
img {
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

.Agent:hover img {
   transform: scale(1.1) translateY(-30px);
}

.ButtonMoreAgent{
    width: 100%;
    position: relative;
top:-100px ;
margin-top: 20px;
margin-bottom: 20px;
    
}