.Agents{
    display: flex;
    flex-wrap: wrap;
    background: rgb(18, 21, 33);
}

.Agent{
 
    width: 50%;
   
    box-sizing: border-box;
    background: rgb(18, 21, 33);
}

.Agent:hover{
    cursor: pointer;
    background:rgba(255, 255, 255, 0.066) ;
}

img{
    width: 100%;
    padding: 0;
    margin: 0;
}