.Armes {
    display: flex;
    flex-wrap: wrap;
    background: rgb(18, 21, 33);
}

.Arme {
    background: rgb(18, 21, 33);
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.Arme:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.066);
}
.Arme:hover img {
    transform: scale(1) ;
}

.imgArme {
    width: 100%;
    padding: 0;
    margin: 0;
    transition:  all 0.3s;
    transform: scale(0.75);
    
}