.title {
    font-size: 3em;
    opacity: 0;
    position: relative;
    top: -100px;
}

.Cartes {
    display: flex;
    flex-wrap: wrap;
    background: rgb(18, 21, 33);
    min-height: 900px;
}

.Carte {

    width: 33.33%;

    box-sizing: border-box;
    background: rgb(18, 21, 33);
    transition: all 0.3s;

    opacity: 0;
    position: relative;
    top: -100px;
    
}
@media (max-width:700px) {
    .Carte {
        width: 100%;
    }
}
.Carte:hover {
    cursor: pointer;
        background: rgba(255, 255, 255, 0.05);
   

}


img {
    width: 100%;
   transform: translateY(5px);
}
