.Profil{
min-height: calc(100vh - 408px);}

.InputProfil{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px;
  flex-wrap: wrap;
    
        
}



.LangButton{
    display: flex;
    flex-wrap: wrap;
}

.LangButton button{
    margin: 10px;
}

#setLangButton{
    display: none;
}