

@font-face {
  font-family: ValorantFont;
  src: url("../public/ValorantFont.ttf");
}

body {
  margin: 0;
  font-family: ValorantFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
    background: rgb(18, 21, 33);
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(18, 21, 33);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.064);

}

.btn {
  margin-bottom: 0;
}